@font-face {
    font-family: HelveticaThin;
    src: url(../fonts/HelveticaThin.ttf);
}

@font-face {
    font-family: HelveticaThinBolder;
    src: url(../fonts/HelveticaThinBolder.otf);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: HelveticaThin !important;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo{
  position: absolute;
  transform: translateY(-50%);
  top:50%;
  left:0;
  right:0;
}

.logo img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}

#contact{
    position: absolute;
    bottom: 10%;
    opacity: 0.75;
    background-color:black;
    width:82%;
    left:0;
    right:0;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.5s;
}

#contact a{
    color: #ffffe5;
}

#contact .nav-item{
    padding: 12px;
}

#contact:hover{
    opacity:1;
    transition: 0.5s;
}

.nav-item:hover{
    background-color: #ffffe5;
    color: #764318 !important;
    border-radius: 10px !important;
    transition: 0.5s;
}

#instagram{

    background-color: #764318;
    background-image: linear-gradient(90deg, transparent 50%,
    #ffffe5 50%);
    background-size: 100px 100px; 
    text-align: center;
}

#instagram iframe{
    margin: 5em 0 5em 0 !important;
    width: 80vw !important;
    margin: auto;
}

.underlined{
    color: #ffffff;
}

#footer-up{

}

#footer-down{

}